.bar{
	width: 100%;
	height: 1.25rem;
	position: relative;
	background: rgb(242,242,242);
	border-top: 0.05rem solid rgb(225,227,226);
	border-bottom: 0.05rem solid rgb(225,227,226);
	padding: 0 0.42rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.36rem;
	color: rgb(78,78,78);
	font-weight: bold;
}
.searchBox{
	width: 4.5rem;
	height: 0.6rem;
	background: #fff;
	
}
.searchBox input{
	width: 4.5rem;
	height: 0.6rem;
	padding: 0;
	margin: 0;
	padding-left: 0.2rem;
	font-size: 0.26rem;
	font-weight: normal;
	color: rgb(78,78,78);
}
.analysis_icon{
	width: 0.45rem;
	height: 0.45rem;
/* 	position: absolute;
	right: 0.34rem;
	top: 0.35rem; */
	padding: 0;
	margin: 0;
	
}
.analysis_icon img{
	width: 0.45rem;
	height: 0.45rem;
}

/* 菜单tab */
.package_tab{
	width: 100%;
	height: 0.95rem;
	border-bottom:0.08rem solid #E1E3E2;
	background: #f2f2f2;	
}
.package_tab_item{
	width: 3.75rem;
	height: 0.82rem;
	color: rgb(78,78,78);
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.9rem;
	float: left;
	
	
}
.package_tab_item.active{
	box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,0.35);
}
/* 地址簿列表 */
.addressList{
	width: 100%;
	min-height: 7.8rem;
	
}
.addressListBox{
	width: 100%;
}
.addressList_item{
	width: 100%;
	height: 1.63rem;
	background: #fff;
	box-shadow: 0 0.03rem 0.07rem 0 rgba(0,0,0,0.35);
	margin-bottom: 0.11rem;
}
.userMessage{
	width: 5.93rem;
	height: 1.64rem;
	/* background: #0062CC; */
	float: left;
	padding: 0.2rem 0.43rem;
}
.editIcon{
	float: right;
	width: 1.3rem;
	height: 1rem;
	margin-top: 0.32rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 0.01rem solid rgba(0,0,0,0.25);
	
}
.editIcon img{
	width: 0.33rem;
	height: 0.33rem;
	
}
.basicMessage{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.idcard{
	margin-right: 0.2rem;
}
#searchToPropover{
	display: block;
	width: 0.87rem;
	height: 0.64rem;
	background: rgba(0,0,0,0);
	border: 0;
	padding: 0;
	margin: 0;
}
.idcard,.idcard img{
	width: 0.87rem;
	height: 0.64rem;
	
}
.username{
	width: 1.3rem;
}
.phone{
	width: 2.5rem;
}
.username,.phone{
	color: rgb(78,78,78);
	font-size: 0.3rem;
	font-weight: bold;
}
.addressCon{
	color: rgb(112,112,112);
	font-size: 0.28rem;
	margin-top: 0.2rem;
}
.addAddress{
	position: fixed;

	right: 0;
	left: 0;
	width: 2.78rem;
	height: 0.66rem;
	border-radius: 0.15rem;
	color: #fff;
	text-align: center;
	line-height: 0.66rem;

	display: block;
	border: none;
	background: rgb(229,64,83);
	padding: 0;
	margin: 0 auto;
	bottom: 1rem;
/* 	position: relative; */
}
#openPopover{
	position: absolute;
	left: 4rem;
	top: 0.15rem;
	width: 0.8rem;
	height: 0.36rem;
	background: rgba(0,0,0,0);
	border: none;
	display: block;
	
	
}
.intro_idcard{
	width: 0.48rem;
	height: 0.36rem;
	position: absolute;
	left:0;
	top: 0;
}
.intro_ask{
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	left: 0.54rem;
	top: 0.06rem;
}
#middlePopover {
	height: 3rem;
	z-index: 10000;
	
}

/* 点击搜索弹出框 */
#searchPopover{
	width: 5.81rem;
	height: 3rem;
	z-index: 10000;
	top: 0.85rem!important;
	left: 0!important;
	right: 0!important;
	margin: 0.4rem auto;
	border-radius: 0;
}
#searchPopover .mui-popover-arrow{
	display: none;
	
}
.goodsIntoduce{
	width: 100%;
	
}
.introItem{
	width: 100%;
	height: 1.48rem;
	background: #ebebeb;
	padding: 0.17rem 0.37rem;
	margin-top: 0.3rem;
}
.user_intro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.12rem;
}
.user_intro img{
	width: 0.89rem;
	height: 0.65rem;
	
} 
.userContent{
	width: 3rem;
	
}
.userContent_name{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(78,78,78);
	font-size: 0.26rem;
	font-weight: bold;
}
.userContent_name span{
	display: inline-block;
	width: 1.5rem;
	text-align: left;
	font-size: 0.3rem;
}
.idcard_number{
	width: 100%;
	word-break: break-all;
}
.introTitle{
	margin: 0.2rem 0;
	text-align: center;
	font-size: 0.3rem;
}
.idcardIntro{
	width: 100%;
	color: rgb(78,78,78);
}
.idcardIntro li{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.1rem 0.2rem 0;
}
.idcardIntro li img{
	width: 0.5rem;
}
.idcardIntro li div{
	width: 4rem;
	font-size: 0.26rem;
}
.addAddress span{
	display: inline-block;
	width: 2.78rem;
	height: 0.66rem;
}
.mui-popup-button.mui-popup-button-bold {
    font-weight: normal;
}