*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	background: #efeff4;
}
.clearfix:after{
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}