*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.clearfix:after{
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
.mui-bar{
	height: 1.25rem;
	position: relative;
	background: rgb(242,242,242);
	border-top: 0.05rem solid rgb(225,227,226);
	border-bottom: 0.05rem solid rgb(225,227,226);
}
.mui-bar-nav.mui-bar .mui-icon{
	color:rgb(126,125,125) ;
	font-weight: bold;
	padding: 0;
	margin-top: 0.35rem;
	padding-left: 0.42rem;
	/* text-shadow: -0.03rem 0.03rem 0.04rem 0 rgba(0,0,0,0.3); */
}

a.mui-pull-left:active{
	color: red;
}
.analysis_body{
	width: 5.6rem;
	height: 1rem;
	border-radius: 0.1rem;
	border:0.01rem solid rgb(182,182,182);
	background: #fff;

	position: absolute;
	top: 0;
	left: 5.62rem;
	/* visibility: hidden; */
	transition: all 0.2s;
	
}
.analysis{
	width: 5.62rem;
	height: 1.02rem;
	overflow: hidden;
	margin-left: 0.8rem;
	margin-top: 0.08rem;
	position: relative;
	
}
.analysis_title{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 0.98rem;
	width: 1.1rem;
	border-radius: 0.1rem 0 0 0.1rem;
	float: left;
	background: rgb(146,145,145);

}
.analysis_icon{
	width: 0.42rem;
	height: 0.53rem;
	position: absolute;
	right: 0.34rem;
	top: 0.35rem;
	padding: 0;
	margin: 0;
	
}
.analysis_icon img{
	width: 0.42rem;
	height: 0.53rem;
}

/* 头部结束 */
.mui-content{
	background: #eeeeee;
}

/* 中间收件人部分 */
.part_recipient{
	padding-bottom: 0.84rem;
	box-shadow: -0.02rem 0.02rem 0.06rem 0 rgba(0,0,0,0.3);
	background: #fff;
	position: relative;
	/* transition: all 0.3s; */
	/* overflow: hidden; */
	margin-top: 0.4rem;
}
.recipientInfo{
	width: 100%;
	border-bottom: 0.05rem solid rgb(225,227,226);
	
}
.part_rec_close{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	display: none;
}
.messageBody{
	width: 5.5rem;
	height: 0.87rem;
	padding-top: 0.1rem;
	/* background: red; */
}
.editMessage{
	width: 0.22rem;
	height: 0.22rem;

	margin-right: 0.6rem;
}
.messageBody div{
	height: 0.35rem;
}
.messageBody div.messageBody_name{
	width: 1.5rem;
	display: inline-block;
	font-size: 0.3rem;
	color: rgb(78,78,78);
	font-weight: bold;

}
.messageBody div.messageBody_phone{
	width: 3.8rem;
	display: inline-block;
	font-size: 0.3rem;
	color: rgb(78,78,78);
	font-weight: bold;
	margin-left: 0.1rem;
}
.messageBody div.messageBody_address{
	width: 5.5rem;
	color: rgb(112,112,112);
	font-size: 0.28rem;

}
.recipient_titile{
	width: 100%;
	height: 1.03rem;
	display: flex;
    justify-content: space-between;
	align-items: center;
	background: #fff;
	
}
.collect_part{
	width: 0.9rem;
	height: 0.5rem;
	border-radius: 0.16rem;
	background-color: #393939;
	text-align: right;
	padding-right: 0.16rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: #fff;
	margin-left: -0.2rem;
	float: left;
	font-weight: bold;

}
.recipient{
	float: left;
	color: rgb(78,78,78);
	font-size: 0.32rem;
	font-weight: bold;
	margin-left: 0.2rem;
	line-height: 0.5rem;

}
.clearAll{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1.9rem;
}
.clearAll img{
	width: 0.28rem;
	height: 0.28rem;
	margin-right: 0.1rem;
}
.clearAll span{
   display: inline-block;
   width: 0.73rem;
   height: 0.32rem;
   background: rgb(146,145,145);
   text-align: center;
   line-height: 0.32rem;
   font-size: 0.22rem;
   color: #fff;
   border-radius: 0.06rem;
}
.address{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 0.35rem;
	width: 1.3rem;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	background: rgb(146,145,145);
	border-radius: 0.08rem;
	padding: 0 0.1rem;
	
}
.address img{
	width: 0.28rem;
	height: 0.3rem;
	margin-right: 0.1rem;
}

.address span{
   display: inline-block;
   text-align: center;
   line-height: 0.32rem;
   font-size: 0.22rem;
   color: #fff;
}
.messageBox{
	width: 100%;
	height: 1rem;
	border-bottom: 0.05rem solid rgb(225,227,226);
	padding: 0 0.25rem;
	background: #fff;
}
.messageBox div{
	width: 50%;
	float: left;
	display: flex;
	justify-content: space-between;align-items: center;
	height: 1rem;
	
}
.messageBox div label{
	font-weight: bold;
}
.messageBox div input{
	width: 2.5rem;
	padding: 0;
	margin: 0;
	border:none
}
.messageBox div.name{
	border-right: 0.05rem solid rgb(225,227,226);
	padding-right: 0.2rem;


	
}
.messageBox div.phone{
	padding-left: 0.3rem;
}
.messageBox div.phone label{
	margin-right: 0.06rem;
}
.messageBox div label{
	font-size: 0.3rem;
	color: rgb(121,120,120);
	
	
}
.messageBox div.province{
	border-right: 0.05rem solid rgb(225,227,226);
	width: 85%;
}
.messageBox div.pickerBox{
	width: 15%;
	position: relative;
}
.pickerBox button{
	border: none;
	/* width: 100%; */
	/* height: 0.2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.pickerBox button img{
	width: 0.38rem;
	height: 0.2rem;
	
}
#showCityPicker3{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border-radius: none;
	width: 1.3rem;
	height: 1rem;
	background: rgba(0,0,0,0);
	
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background-color: rgb(229,64,83);
	border: 0.01rem solid rgb(229,64,83);
	
}
.mui-poppicker-body{
	background: #fff;
}
.mui-picker{
	background: #fff;
}
.messageBox div.address_detail{
	width: 100%;
}
.messageBox div.address_detail input{
	width: 5.5rem;
}
.saveToAddress{
	width: 100%;
	background: #fff;
	
}
.selectSave{
	width: 100%;
	padding: 0.36rem 0.42rem 0.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	
}
.selectSave span{

	width: 0.26rem;
	height: 0.26rem;
	border: 0.01rem solid rgb(166,166,166);
	border-radius: 50%;
	margin-right: 0.2rem;
}
.selectSave div{

	font-size: 0.24rem;
	color: rgb(51,51,51);
}
.matching{
	width: 6.73rem;
	height: 0.55rem;
	background: rgb(238,238,238);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.12rem;
}
.matching img{
	width: 0.33rem;
	height: 0.33rem;
}
.matching input{
	width: 6rem;
	height: 0.55rem;
	border:none;
	font-size: 0.22rem;
	margin: 0;
	padding: 0;
	background: rgb(238,238,238);
}
.submitBtn{
	width: 1.11rem;
	height: 1.11rem;
	position: absolute;
	bottom: -0.44rem;
	right: 0.23rem;
}

/* 寄东西 */
.part_send{
	margin-top: 0.95rem;
	background: #fff;
	padding-bottom: 0.84rem;
	box-shadow: -0.02rem 0.02rem 0.06rem 0 rgba(0,0,0,0.3);
	background: #fff;
	position: relative;
	height: 1.03rem;
	/* overflow: hidden; */
	transition: all 0.3s;


}
.recipientInfo.send{
	margin-top: 0.95rem;
	background: #fff;
	
	
}
.recipient_titile.part_send_title{
	display: none;
}
.submitBtn.btn_sendPart{
	display: none;
	
}
.part_send_close{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;

}
.collect_part.active{
		background-color: rgb(229,64,83);
}
.recipientInfo.send .collect_part,.recipientInfo.goods .collect_part{
	background: #393939;
}
.recipientInfo.goods{
	margin-top: 0.21rem;
	background: #fff;
}