
.mui-bar{
	height: 1.25rem;
	position: relative;
	background: rgb(242,242,242);
	border-top: 0.05rem solid rgb(225,227,226);
	border-bottom: 0.05rem solid rgb(225,227,226);
}
.mui-bar-nav.mui-bar .mui-icon{
	color:rgb(126,125,125) ;
	font-weight: bold;
	padding: 0;
	margin-top: 0.35rem;
	padding-left: 0.42rem;
	/* text-shadow: -0.03rem 0.03rem 0.04rem 0 rgba(0,0,0,0.3); */
}

a.mui-pull-left:active{
	color: red;
}
.analysis_body{
	width: 5.6rem;
	height: 1rem;
	border-radius: 0.1rem;
	border:0.01rem solid rgb(182,182,182);
	background: #fff;

	position: absolute;
	top: 0;
	left: 5.62rem;
	/* visibility: hidden; */
	/* transition: all 0.3s; */
	/* display: none; */
	
}
.analysis{
	width: 5.62rem;
	height: 1.02rem;
	overflow: hidden;
	margin-left: 0.8rem;
	margin-top: 0.08rem;
	position: relative;
	
}
.analysis_title{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 1rem;
	width: 1.1rem;
	border-radius: 0.1rem 0 0 0.1rem;
	float: left;
	background: rgb(146,145,145);

}
.analysis_icon{
	width: 0.42rem;
	height: 0.53rem;
	position: absolute;
	right: 0.34rem;
	top: 0.35rem;
	padding: 0;
	margin: 0;
	
	
}
.analysis_icon img{
	width: 0.42rem;
	height: 0.53rem;
	position: absolute;
	top: 0;
	left: 0;
	animation: imgAnimate  0.5s;
}
@keyframes imgAnimate{
	0%{
		top: -0.1rem;
	}
	40%{
		top: 0rem;
	}
	80%{
		top: -0.1rem;
	}
	100%{
		top: 0;
	}
}

/* 头部结束 */
.mui-content{
	background: #eeeeee;
}

/* 中间收件人部分 */
.part_recipient{
	padding-bottom: 0.84rem;
	box-shadow: -0.02rem 0.02rem 0.06rem 0 rgba(0,0,0,0.3);
	background: #fff;
	position: relative;
	/* transition: all 0.3s; */
	/* overflow: hidden; */
	margin-top: 0.4rem;
}
.recipientInfo{
	width: 100%;
	border-bottom: 0.05rem solid rgb(225,227,226);
	
}
.part_rec_close{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	display: none;
}
.messageBody{
	width: 5.5rem;
	height: 0.87rem;
	padding-top: 0.1rem;
	/* background: red; */
}
.editMessage{
	width: 0.22rem;
	height: 0.22rem;

	margin-right: 0.6rem;
}
.editMessage img{
	width: 0.22rem;
	height: 0.22rem;
}
.messageBody div{
	height: 0.35rem;
}
.messageBody div.messageBody_name{
	width: 1.5rem;
	display: inline-block;
	font-size: 0.3rem;
	color: rgb(78,78,78);
	font-weight: bold;

}
.messageBody div.messageBody_phone{
	width: 3.8rem;
	display: inline-block;
	font-size: 0.3rem;
	color: rgb(78,78,78);
	font-weight: bold;
	margin-left: 0.1rem;
}
.messageBody div.messageBody_address{
	width: 5.5rem;
	color: rgb(112,112,112);
	font-size: 0.28rem;

}
.recipient_titile{
	width: 100%;
	height: 1.03rem;
	display: flex;
    justify-content: space-between;
	align-items: center;
	background: #fff;
	
}
.collect_part{
	width: 0.9rem;
	height: 0.5rem;
	border-radius: 0.16rem;
	background-color: #393939;
	text-align: right;
	padding-right: 0.16rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	color: #fff;
	margin-left: -0.2rem;
	float: left;
	font-weight: bold;

}
.recipient{
	float: left;
	color: rgb(78,78,78);
	font-size: 0.32rem;
	font-weight: bold;
	margin-left: 0.2rem;
	line-height: 0.5rem;

}
.clearAll{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1.9rem;
}
.clearAll img{
	width: 0.28rem;
	height: 0.28rem;
	margin-right: 0.1rem;
}
.clearAll span{
   display: inline-block;
   width: 0.73rem;
   height: 0.32rem;
   background: rgb(146,145,145);
   text-align: center;
   line-height: 0.32rem;
   font-size: 0.22rem;
   color: #fff;
   border-radius: 0.06rem;
}
.address{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 0.35rem;
	width: 1.3rem;
	height: 0.4rem;
	text-align: center;
	line-height: 0.3rem;
	background: rgb(146,145,145);
	border-radius: 0.08rem;
	padding: 0 0.1rem;
	
}
.address img{
	width: 0.28rem;
	height: 0.3rem;
	margin-right: 0.1rem;
}

.address span{
   display: inline-block;
   text-align: center;
   line-height: 0.32rem;
   font-size: 0.22rem;
   color: #fff;
}
.messageBox{
	width: 100%;
	height: 1rem;
	border-bottom: 0.05rem solid rgb(225,227,226);
	padding: 0 0.25rem;
	background: #fff;
}
.messageBox div{
	width: 50%;
	float: left;
	display: flex;
	justify-content: space-between;align-items: center;
	height: 1rem;
	
}
.messageBox div label{
	font-weight: bold;
}
.messageBox div input{
	width: 2.5rem;
	padding: 0;
	margin: 0;
	border:none
}
.messageBox div.name{
	border-right: 0.05rem solid rgb(225,227,226);
	padding-right: 0.2rem;


	
}
.messageBox div.phone{
	padding-left: 0.3rem;
}
.messageBox div.phone label{
	margin-right: 0.06rem;
}
.messageBox div label{
	font-size: 0.3rem;
	color: rgb(121,120,120);
	
	
}
.messageBox div.province{
	border-right: 0.05rem solid rgb(225,227,226);
	width: 85%;
}
.messageBox div.pickerBox{
	width: 15%;
	position: relative;
}
.pickerBox button{
	border: none;
	/* width: 100%; */
	/* height: 0.2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.pickerBox button img{
	width: 0.38rem;
	height: 0.2rem;
	
}
#showCityPicker3{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border-radius: none;
	width: 1.3rem;
	height: 1rem;
	background: rgba(0,0,0,0);
	
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background-color: rgb(229,64,83);
	border: 0.01rem solid rgb(229,64,83);
	
}
.mui-poppicker-body{
	background: #fff;
}
.mui-picker{
	background: #fff;
}
.messageBox div.address_detail{
	width: 100%;
}
.messageBox div.address_detail input{
	width: 5.5rem;
}
.saveToAddress{
	width: 100%;
	background: #fff;
	
}
.selectSave{
	width: 100%;
	padding: 0.36rem 0.42rem 0.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	
}
.selectSave span{

	width: 0.26rem;
	height: 0.26rem;
	border: 0.01rem solid rgb(166,166,166);
	border-radius: 50%;
	margin-right: 0.2rem;
}
.selectSave div{

	font-size: 0.24rem;
	color: rgb(51,51,51);
}
.matching{
	width: 6.73rem;
	height: 0.55rem;
	background: rgb(238,238,238);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.12rem;
}
.matching img{
	width: 0.33rem;
	height: 0.33rem;
}
.matching input{
	width: 6rem;
	height: 0.55rem;
	border:none;
	font-size: 0.22rem;
	margin: 0;
	padding: 0;
	background: rgb(238,238,238);
}
.submitBtn{
	width: 1.11rem;
	height: 1.11rem;
	position: absolute;
	bottom: -0.44rem;
	right: 0.23rem;
}

/* 寄东西 */
.part_send{
	margin-top: 0.95rem;
	background: #fff;
	padding-bottom: 0.84rem;
	box-shadow: -0.02rem 0.02rem 0.06rem 0 rgba(0,0,0,0.3);
	background: #fff;
	position: relative;
	height: 1.03rem;
	/* overflow: hidden; */
	/* transition: all 0.3s; */


}
.recipientInfo.send{
	margin-top: 0.95rem;
	background: #fff;
	
	
}
.recipient_titile.part_send_title{
	display: none;
}
.submitBtn.btn_sendPart{
	display: none;
	
}
.part_send_close{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;

}
.collect_part.active{
		background-color: rgb(229,64,83);
}
.recipientInfo.send .collect_part,.recipientInfo.goods .collect_part{
	background: #393939;
}
.recipientInfo.goods{
	margin-top: 0.21rem;
	background: #fff;
}

/* 物品 */
.part_goods{
	margin-top: 0.2rem;
	background: #fff;
	box-shadow: -0.02rem 0.02rem 0.06rem 0 rgba(0,0,0,0.3);
	background: #fff;
	position: relative;
	height: 1.03rem;
	/* overflow: hidden; */
	/* transition: all 0.3s; */
	
}
.recipient_titile.part_goods_title{
	display: none;
}
.part_goods_close{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	
}
.recipient_titile a.searchBrandName{
	width: 5.8rem;
	height: 0.55rem;
	background: rgb(238,238,238);
	border: none;
	padding: 0;
	padding-left: 0.2rem;
	margin: 0 0.58rem 0 0.28rem;
	font-size: 0.24rem;
	color: rgb(162,159,159);
	text-align: left;
	line-height: 0.55rem;
}
.goodsInfo{
	width: 100%;
	border-top: 0.05rem solid #E1E3E2;
	border-bottom: 0.05rem solid #E1E3E2;
	height: 1.25rem;
	background: rgb(242,242,242);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.tab_name{
	width: 55%;
}
.tab_count{
	width: 30%;
}
.goodsInfo div{
	height: 1.25rem;
	font-size: 0.3rem;
	color: rgb(121,120,120);
	text-align: center;
	line-height: 1.25rem;
}
.noGoods{
	width: 100%;
	height: 3.07rem;
	padding-top: 0.7rem;
	padding-bottom: 0.84rem;
}
.noGoods img{
	width: 1.53rem;
	height: 1.44rem;
	display: block;
	margin: 0 auto;
}
.goodsAll{
	width: 100%;
}
.goodsAll li{
	width: 100%;
	height: 0.82rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	font-size: 0.28rem;
	color: rgb(112,112,112);
	border-bottom: 0.01rem solid #E1E3E2;
}
.goodsAll_name{
	width: 55%;
}
.goodsAll_count{
	width: 30%;
}
.goodsAll_edit{
	width: 15%;
}
.goodsAll_edit img{
	width: 0.22rem;
	height: 0.22rem;
}
.goodsAll li:nth-last-child(1){
	border-bottom: none;
}



/* 弹出菜单 */

#middlePopover.mui-popover {
	height: 8.56rem;
	z-index: 10000;
}
.mui-backdrop{
	z-index: 40;
}
.mui-popover-arrow{
	display: none;
}
#middlePopover{
	position: fixed;
	
	right: 0!important;
	left: 0!important;
	margin: 0 auto;
	top: 1.41rem!important;
	width: 5.58rem;
}
.goodsIntoduce{
	width: 100%;
	padding: 0 0.3rem;
	
}
.goodsIntoduce li{
	width: 100%;
	height: 0.7rem;
	border-bottom: 0.01rem solid rgb(191,191,191);
	
}
.introItem{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	line-height: 0.5rem;
}
.introItem span{
	color: rgb(78,78,78);
	font-size: 0.3rem;
	width: 1rem;
	margin-right: 0.5rem;
}
.introItem div{
	color: rgb(59,57,57);
	font-size: 0.26rem;
}
.goodsIntroTitle{
	text-align: center;
	font-size: rgb(78,78,78);
	font-size: 0.36rem;
	line-height: 1.3rem;
}
.calcCount{
	width: 100%;
	padding: 0 0.36rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.count_title{
	width: 0.8rem;
	color: rgb(44,44,44);
	font-size: 0.3rem;
}
.countNumber{
	width: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(51,51,51);
	font-size: 0.26rem;
	margin: 0.5rem 0;
}
.countNumber img.add{
	width: 0.33rem;
	height: 0.33rem;
}
.countNumber img.del{
	width: 0.33rem;
	height: 0.04rem;
}
.number{
	padding: 0 0.3rem;
}
.popover_btn{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.4rem;
}
.popover_btn div{
	width: 1.87rem;
	height: 0.58rem;
	border-radius: 0.15rem;
	color: #fff;
	box-shadow: 0 0.02rem 0.02rem 0 rgba(0,0,0,0.3);
	text-align: center;
	line-height: 0.58rem;
}
.popover_btn .popover_close{
	background: rgb(163,160,160);

}
.popover_btn .popover_add{
	background: rgb(51,51,51);
}

/* 搜索物品弹出菜单 */
#goodsPopover{
	height: 1.68rem;
	z-index: 10000;
	border-radius: 0;
	position: fixed;
	background: #E1E3E2;
	right: 0!important;
	left: 0!important;
	margin: 0 auto;
	top: 1.41rem!important;
	width: 5.58rem;
	padding-top: 0.2rem;
}
#goodsPopover input.goodsSearch{
	width: 5.18rem;
	height: 0.6rem;
	padding: 0;
	display: block;
	margin: 0.05rem auto;
	border: none;
	border-radius: 0;
	padding-left: 0.15rem;
	overflow: auto;
}
.noGoodsMessage{
	width: 5.18rem;
	margin: 0.15rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.20rem;
	color: rgb(78,78,78);
}
.addGoods{
	width: 0.8rem;
	height: 0.5rem;
	background: rgb(229,64,83);
	border-radius: 0.08rem;
	text-align: center;
	line-height: 0.5rem;
	color: #fff;
}
.searchReault{
	width: 5.18rem;
	position: absolute;
	top: 0.85rem;
	left: 0.2rem;
	background: #fff;
	border-top: 0.02rem solid #E1E3E2;
	z-index: 99999;
	display: none;
/* 	background: red; */
	/* height: 3rem; */
}
.searchReault li{
	width: 100%;
	height: 1rem;
	border-bottom: 0.01rem solid #E1E3E2;
	font-size: 0.22rem;
	color: #787878;
	
}
.brandName{
	width: 100%;
	padding: 0.06rem 0.15rem;
	color: rgb(51,51,51);
}
.attribute{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.15rem;
}
.confirm{
	width: 3.42rem;
	height: 0.78rem;
	background: rgb(229,64,83);
	border: 0.01rem solid #fff;
	border-radius: 0.15rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 0.78rem;
	display: block;
	margin: 1rem auto 0.6rem;
	padding: 0;
}

/* 确认订单弹出框 */
#orderPopover{
	width: 7.5rem;
	height: 10.32rem;
	z-index: 10000;
	border-radius: 0;
	position: fixed;
	background: #fff;
	left: 0!important;
	top: 0!important;
	padding-top: 0.2rem;
}
.orderPopover_title{
	width: 100%;
	text-align: center;
	color: rgb(78,78,78);
	font-size: 0.36rem;
	padding: 0.16rem 0;
}
.part_recipient_popover{
	padding-bottom: 0.84rem;
	background: #fff;
	position: relative;
	height: 1.03rem;
	margin-bottom: 0.11rem;
	
}
.part_rec_close_popover{
	width: 100%;
	height: 1.03rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(243,241,241);
	
}
.recipientInfo_popover{
	border-bottom: none;
}
.tips{
	width: 6.4rem;
	border-radius: 0.15rem;
	background: rgb(243,241,241);
	padding: 0.1rem;
	font-size: 0.24rem;
	color: rgb(142,140,140);
	margin: 0.2rem auto;
}

/* 物品 */
.part_goods_popover{
	padding-bottom: 0;
	height: auto;
	margin-top: 0;
}
.part_sendTitle{
	width: 100%;
	height: 1.09rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(242,242,242);
}
.goodsName{
	width: 4.3rem;
	font-size: 0.3rem;
	color: rgb(78,78,78);
	text-align: center;
}
.goodsCount{
	width: 1rem;
	font-size: 0.3rem;
	color: rgb(78,78,78);
}
.goodsListBody{
	margin-top: 0.05rem;
}
.goodsList,.goodsListBody{
	width: 100%;
	background: rgb(242,242,242);
}
.goodsList{
	/* border-bottom: 0.05rem solid #E1E3E2; */
	background: rgb(242,242,242);
}
.goodsListItem{
	width: 100%;
	height: 0.55rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.28rem;
	color: rgb(112,112,112);
}
.itemName{
	width: 4.8rem;
	margin-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.itemCount{
	width: 1.3rem;
	text-align: center;
}
.btn_popover{
	width: 100%;
	padding: 0.28rem 0.68rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn_popover div{
	width: 1.87rem;
	height: 0.58rem;
	border-radius: 0.15rem;
	background: rgb(163,160,160);
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
	line-height: 0.58rem;
}
.btn_popover div.confirm_popover{
	background: rgb(49,48,48);
}
.orderNumber_fillIn{
	width: 6.32rem;
	height: 0.55rem;
	background: rgb(219,217,217);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.28rem;
}
.inputOrderNumber{
	width: 4.2rem;
	height: 0.43rem;
	background: #fff;
}
.inputOrderNumber input{
	width: 4rem;
	height: 0.43rem;
	border: 0;
	margin: 0;
	
	font-size: 0.26rem;
	
}
.sort_order{
	color: #fff;
	width: 0.95rem;
	height: 0.55rem;
	background-color: rgb(106,105,105);
	text-align: center;
	line-height: 0.55rem;
}
.order_confirm{
	color: rgb(78,78,78);
	width: 0.97rem;
	height: 0.43rem;
	text-align: center;
	line-height: 0.43rem;
	background: #fff;
	margin-right: 0.07rem;
}