.logo{
	width: 4.04rem;
	height: 0.61rem;
	margin: 1.3rem auto 0;
	
}
.logo img{
	width: 4.04rem;
	height: 0.61rem;
}
.dataBox{
	width: 5rem;
	margin: 1.44rem auto 0;
	
	
}
.username,.password{
	width: 5rem;
	height: 0.7rem;
	border-radius: 0.3rem;
	background: rgb(246,233,235);
	/* margin-bottom: 0.43rem; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	border:none;
	padding: 0 0.25rem;
	margin-bottom: 0.48rem;
}
.username img{
	width: 0.33rem;
	height: 0.4rem;
}
.password img{
	width: 0.31rem;
	height: 0.37rem;
}
.dataBox input{
	width: 4rem;
	height: 0.7rem;
	border: 0;
	outline: none;
	background: rgba(0,0,0,0);
	
}
.submit{
	width: 5rem;
	height: 0.7rem;
	border-radius: 0.3rem;
	background: rgb(229,64,83);
	margin-bottom: 0.43rem;
	border:none;
	color: #fff;
	font-size: 0.36rem;
}
.btnBox{
	width: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.6rem auto 0;
}
.btnBox .forget{
	width: 1.5rem;
	text-align: center;
	font-size: 0.24rem;
	color: rgb(136,131,131);
	border-right:  0.01rem solid rgb(181,181,181);
	
}
.btnBox .register{
	width: 1.5rem;
	text-align: center;
	font-size: 0.24rem;
	color: rgb(229,64,83);
}	
